@charset "utf-8";

body {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-column-gap: 5px;
}


body > header {
    display: grid;
    grid-row: 1;
    grid-column: 1/-1;
}

body > nav > ul > li { 
    display: grid;
    grid-row: 3;
    grid-column: 1/-1;
   
}

body > section {
    grid-row: 4;
    width: auto;
}

footer { 
    grid-row: 5;
}